.navbar {
    background-color: #000;
    height: 100vh;
    width: 64px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease; 
  }
  
  .navbar:hover {
    width: 200px; 
  }
  .navbar-item {
    padding: 1rem;
    transition: background-color 0.3s ease; 
    
  }
  
  .navbar-item:hover {
    background-color: #333; 
  }
  
  .nav-link {
    color: #fff;
    transition: color 0.3s ease; 
  }
  
  .navbar-item:hover .nav-link {
    color: #ccc; 
  }
  
  
  .navbar-item1 {
      padding: 1rem;
      transition: background-color 0.3s ease; 
      margin-bottom: 150vh;
    }
    
    .navbar-item1:hover {
      background-color: #333; 
    }
  
    .navbar-item1:hover .nav-link {
      color: #ccc; 
    }
    